<div clss="newform" id="newform">
<%= form_for(edit) do |f| %>
  <% if edit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edit.errors.count, "error") %> prohibited this edit from being saved:</h2>

      <ul>
      <% edit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ユーザID %>
    <%= current_user.name %>
    <%= f.hidden_field :User_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title, required: true, :size => "60x10" %>
  </div>

  <div class="field">
    <%= f.label :日付 %>
    <%= d = Date.today %>
    <%= f.hidden_field :date, :value => d.year.to_s + '-' + d.month.to_s + '-' + d.day.to_s %>
  </div>

  <div class="field">
    <%= f.label :トレンド %>
    <%= t = @trend.name %>
    <%= f.hidden_field :trend_id, :value => @trend.id %>
  </div>


  <div class="field">
    <%= f.label :カテゴリ %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :記事の詳細 %>
    <%= f.text_area :text , :size => "60x10"%>
  </div>

  <div class="field">
    <%= f.label :画像のurl %>
    <%= f.text_field :url , :size => "60x10" %>
  </div>

  <div class="actions">
    <input type="button" value="投稿" id="articleSubmit" onClick="_submit()" >
  </div>
<% end %>

<script>
  function _submit() {
    var $submitId = document.getElementsByTagName('form');
    if (!(document.getElementById('edit_title').value.match(/\S/g))) {
      alert('タイトルが空です');
    } else {
      $submitId[0].submit();
    }
  }
</script>
</div>
