<p id="notice"><%= notice %></p>

<h1>Edits</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Date</th>
      <th>Category</th>
      <th>Text</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edits.each do |edit| %>
      <tr>
        <td><%= edit.user %></td>
        <td><%= edit.title %></td>
        <td><%= edit.date %></td>
        <td><%= edit.category %></td>
        <td><%= edit.text %></td>
        <td><%= edit.url %></td>
        <td><%= link_to 'Show', edit %></td>
        <td><%= link_to 'Edit', edit_edit_path(edit) %></td>
        <td><%= link_to 'Destroy', edit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edit', new_edit_path %>
