<!DOCTYPE html>
<html lang="en">

    <p id="notice"><%= notice %></p>

    <div class='article_center'>
      <div class='new_articles'>
        <h1 >新着記事</h1>

        <table class='scaffold_table'>
          <thead>
            <tr>
              <th>User</th>
              <th>Title</th>
              <th>Date</th>
              <!-- <th>Category</th> -->
              <!-- <th>Text</th> -->
              <!-- <th>Url</th> -->
              <!-- <th colspan="3"></th> -->
            </tr>
          </thead>

          <tbody>

            <% @edits.where(date: DateTime.now.strftime('%Y-%m-%d')).limit(3).each do |edit| %>
            <!--  新着記事のみ表示 1日分-->

            <tr>
              <td><%= edit.user %></td>
              <td><%= link_to edit.title, edit %></td>
              <td><%= edit.date %></td>
              <!-- <td><%= edit.category %></td> -->
              <!-- <td><%= edit.text %></td> -->
              <!-- <td><%= edit.url %></td> -->
              <!-- <td><%= link_to 'Show', edit %></td> -->
              <!-- <td><%= link_to 'Edit', edit_edit_path(edit) %></td> -->
              <!-- <td><%= link_to 'Destroy', edit, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>

            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Edit', trends_path %>

      </div>
    </div>
      <div class='article_left'>
        <h1>
          なにかのスペース?(トレンド一覧?)
        </h1>
        <table class='scaffold_table'>
          <thead>
            <tr>
              <th>User</th>
              <th>Title</th>
              <th>Date</th>
              <!-- <th>Category</th> -->
              <!-- <th>Text</th> -->
              <!-- <th>Url</th> -->
              <!-- <th colspan="3"></th> -->
            </tr>
          </thead>

          <tbody>

            <% @edits.where(category_id: 2).each do |edit| %>
            <tr>
              <td><%= edit.user %></td>
              <td><%= link_to edit.title, edit %></td>
              <td><%= edit.date %></td>
              <!-- <td><%= edit.category %></td> -->
              <!-- <td><%= edit.text %></td> -->
              <!-- <td><%= edit.url %></td> -->
              <!-- <td><%= link_to 'Show', edit %></td> -->
              <!-- <td><%= link_to 'Edit', edit_edit_path(edit) %></td> -->
              <!-- <td><%= link_to 'Destroy', edit, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
            <% end %>
          </tbody>
        </table>

        <br>

      </div>
      <div class='article_right'>
        <h1>
          カテゴリー
        </h1>
        <table class='scaffold_table'>
          <thead>
            <tr>
              <th>Name</th>

              <!-- <th>Category</th> -->
              <!-- <th>Text</th> -->
              <!-- <th>Url</th> -->
              <!-- <th colspan="3"></th> -->
            </tr>
          </thead>

          <tbody>



            <% @categories.each do |category| %>

            <tr>
              <td><%= link_to category.name, category %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <br>
<%= link_to 'New Category', new_category_path %>

      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>


  </body>
