<%= stylesheet_link_tag 'edits' , :media => "all" %>
    <p id="notice"><%= notice %></p>
    <div class='article_center'>
      <div class='new_articles'>
        <h1 >新着記事</h1>
        <table class='scaffold_table'>
          <tbody>
            <% @edits.where(date: DateTime.now.strftime('%Y-%m-%d')).limit(3).each do |edit| %>
            <!--  新着記事のみ表示 1日分-->
            <tr>
              <td><%= edit.User.name %></td>
              <td><%= link_to edit.title, edit %></td>
              <td><%= edit.date %></td>
              <!-- <td><%= edit.category %></td> -->
              <!-- <td><%= edit.text %></td> -->
              <!-- <td><%= edit.url %></td> -->
              <!-- <td><%= link_to 'Show', edit %></td> -->
              <!-- <td><%= link_to 'Edit', edit_edit_path(edit) %></td> -->
              <!-- <td><%= link_to 'Destroy', edit, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to '記事作成(過去のトレンドから)', trends_path %>
      </div>
    </div>
<div class="article_bottom">
      <div class='article_left'>
        <h1>
          本日のトレンド一覧
        </h1>
        <table class='scaffold_table'>
          <tbody>
            <% @trends.each do |trend| %>
            <tr>
              <td><%= link_to trend.name, new_edit_path(select_trend: trend.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>
      <div class='article_right'>
        <a href="/categories"><h1>カテゴリー一覧へ</h1></a>
        <table class='scaffold_table'>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, category %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>

  </body>
