<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/jquery-1.7.2.js"></script>
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/ui/jquery.ui.core.js"></script>
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/ui/jquery.ui.widget.js"></script>
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/ui/jquery.ui.mouse.js"></script>
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/ui/jquery.ui.draggable.js"></script>
    <script src="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/ui/jquery.ui.sortable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://kazefuku.net/sample/jQueryDnD/js/jquery-ui-1.8.20/themes/base/jquery.ui.theme.css">

<%= stylesheet_link_tag 'newArticleEdit' , :media => "all" %>

</head>

<body>
<div id="Contents">

<h1>Drag And Drop Sample</h1>

    <h3>枠内に要素をドロップする</h3>
<div>
    <div id="dropArea" class="dropArea">
</div>
</div>

          <h2><%= @trend.name %></h2>

<div id="list">

          <% @arts.each do |art|%>

          <ul class="item" draggable="true" id= "<%= art.twitter_datum.tweet_id %>">
              <li ><%= art.twitter_datum.id %></li>
              <li ><%= art.twitter_datum.tweet %></li>
              <li ><%= art.twitter_datum.tweet_id %></li>
              <li ><%= art.twitter_datum.user %></li>
              <li ><%= art.twitter_datum.user_id %></li>
              <li ><%= art.twitter_datum.user_icon_url %></li>
              <li ><%= art.twitter_datum.tweet_time %></li>
              <% if art.twitter_datum.image_url != nil  %>
                <li style="text-align:center;"><img src="<%= art.twitter_datum.image_url %>" alt="" width="100" height="100" style="border: solid 1px #000000;"/></li>
              <% else %>
                <li ><%= art.twitter_datum.image_url %></li>
              <% end %>

</ul>

          <% end %>
</div>


    <div class="clear"></div>
</div>
<script>
var getTwiId = [];

  $(function () {

    // dropzoneの表示テキストを初期化
    // initDropzone();

    // listテーブルのitem行が操作された時のリスナーを設定
    items = document.getElementById('list').getElementsByClassName('item');

    Array.prototype.forEach.call(items, function (item) {
      $(item).on('dragstart', onDragStart);
      $(item).on('dragend', onDragEnd);
    });

    // dropzoneのリスナーを設定
    var $dropArea = $('#dropArea').on('dragover', onDragOver).on('dragenter', onDragEnter).on('dragleave', onDragLeave).on('drop', onDrop);

    // dropzoneの表示テキストを指定
    // function initDropzone() {
    //   $('#dropArea').text("ここにドロップできます。");
    // }

    // function startDropzone() {
    //   $('#dropArea').text("ドラッグ中。");
    // }
    //
    // function endDropzone(name) {
    //   $('#dropArea').text(name + "をドロップしました。");
    // }
    function onHidden(tweet_id) {
      $("#list #" + tweet_id).hide();
      // document.getElementById(tweet_id).style.display="none";
    }
    // ドロップ時の処理 (1) ドロップされた行のidをPOSTする (2) 成功したらリダイレクトする (3) 失敗したらダイアログを表示する
    function doAction(id,name,tweet_id,tweet,user_id,icon,date,img_url) {

      console.log('Log1 : ' + img_url)
if (img_url != '') {
$('#dropArea').append('<ul><li>'+ id +'</li><li>'+ tweet +'</li><li>'+ tweet_id +'</li><li>'+ name +'</li><li>'+ user_id +'</li><li>'+ icon +'</li><li style="text-align:center;"><img src='+img_url+' alt="" width="100" height="100" style="border: solid 1px #000000;"></li></ul>');
}
else {
  $('#dropArea').append('<ul><li>'+ id +'</li><li>'+ tweet +'</li><li>'+ tweet_id +'</li><li>'+ name +'</li><li>'+ user_id +'</li><li>'+ icon +'</li></ul>');
}

$( "#dropArea" ).sortable({
  }).disableSelection();

      getTwiId.push(id)
      console.log(getTwiId)

      $.ajax(
        {
        url: "<%=  edits_add_path  %>",
        type: "POST",
        data: {
          id: id
        },
        dataType: "html",
        success: function (data) {
          var iframe = document.getElementById('dropArea');
        console.log(iframe)

          // $('#test').load(location.href);
          // $('#test').load('<%= new_edit_path %> #test');

          //alert("success"); dataにドラッグ＆ドロップした Userのid, nameがjson形式で 渡される
          // console.log(data);

          // alert('success');
          // {"id":1,"name":"Yamada Taro"} 暫定的にページを再読込
          // location.href = "<%= new_edit_path %>"
          // location.href = ""

        },
        error: function (data) {
          alert("errror");
        }
      });
    }

    // ドラッグ＆ドロップ操作
    function onDragStart(e) {

      dragElement = event.target;
      var li1 = this.getElementsByTagName("li").item(0);
      var li2 = this.getElementsByTagName("li").item(1);
      var li3 = this.getElementsByTagName("li").item(2);
      var li4 = this.getElementsByTagName("li").item(3);
      var li5 = this.getElementsByTagName("li").item(4);
      var li6 = this.getElementsByTagName("li").item(5);
      var li7 = this.getElementsByTagName("li").item(6);
      var li8 = this.getElementsByTagName("img").item(0);

      var id = li1.firstChild.nodeValue;
      var tweet = li2.firstChild.nodeValue;
      var tweet_id= li3.firstChild.nodeValue;
      var name = li4.firstChild.nodeValue;
      var user_id = li5.firstChild.nodeValue;
      var icon = li6.firstChild.nodeValue;
      var date = li7.firstChild.nodeValue;

       if (li8 != null) {
      console.log(li8.src);
      e.originalEvent.dataTransfer.setData('img_url', li8.src);
      }
      // var id = e.originalEvent.target.id;

      // dragElement = e.originalEvent.target;
      // console.log(dragElement.innerHTML);
      // e.dataTransfer.setData('id', dragElement.innerHTML);
      // var name = e.originalEvent.target.cells[1].innerHTML;
      // var name = e.originalEvent.target.cells[1].innerHTML;
      // var id = e.originalEvent.target.cells[0].innerHTML;
      // var tweet = e.originalEvent.target.cells[2].innerHTML;
      // var t1 = e.originalEvent.target.cells[3].innerHTML;
      // var t2 = e.originalEvent.target.cells[4].innerHTML;
      console.log(id);
      console.log(name);
      console.log(tweet);
      console.log(user_id);
      console.log(icon);
      console.log(date);
      console.log(tweet_id);
      // console.log(img_url);


      e.originalEvent.dataTransfer.setData('id', id);
      e.originalEvent.dataTransfer.setData('name', name);
      e.originalEvent.dataTransfer.setData('tweet', tweet);
      e.originalEvent.dataTransfer.setData('tweet_id', tweet_id);
      e.originalEvent.dataTransfer.setData('user_id', user_id);
      e.originalEvent.dataTransfer.setData('icon', icon);
      e.originalEvent.dataTransfer.setData('date', date);

      addDraggingEffect();
      // startDropzone();
    }

    function onDragEnter(e) {
      addEnterEffect();
    }

    function onDragLeave(e) {
      removeEnterEffect();
    }

    function onDragOver(e) {
      e.preventDefault();
    }

    function onDragEnd(e) {
      resetAllEffect();
    }

    function onDrop(e) {
      e.preventDefault();
      var id = e.originalEvent.dataTransfer.getData('id');
      var name = e.originalEvent.dataTransfer.getData('name');
      var tweet_id = e.originalEvent.dataTransfer.getData('tweet_id');
      var tweet = e.originalEvent.dataTransfer.getData('tweet');
      var user_id = e.originalEvent.dataTransfer.getData('user_id');
      var icon =e.originalEvent.dataTransfer.getData('icon');
      var date = e.originalEvent.dataTransfer.getData('date');
      var img_url = e.originalEvent.dataTransfer.getData('img_url');
      // endDropzone(name);
      doAction(id,name,tweet_id,tweet,user_id,icon,date,img_url);
      onHidden(tweet_id);
    }

    function addDraggingEffect() {
      $dropArea.addClass('dragging');
       $('p').addClass('color');
    }

    function removeDraggingEffect() {
      $dropArea.removeClass('dragging');
      // initDropzone();
    }

    function addEnterEffect() {
      $dropArea.addClass('dragenter');
    }

    function removeEnterEffect() {
      $dropArea.removeClass('dragenter');
    }

    function resetAllEffect(e) {
      removeDraggingEffect();
      removeEnterEffect();
    }

  });

</script>

</body>
</html>

<%= render 'form', edit: @edit %>

<%= link_to 'Back', trends_path %>
