<div class="container container-large">
  <div class="col-md-2 sidebar">
    <div class="row" style="padding-top: 100px;">
    <% @categories.each do |category| %>
      <p style="font-size: 20px; padding-bottom: 10px;"><%= link_to category.name, category %></p>
    <% end %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="text-center" style="padding-left: 113px; padding-top: 50px;">
        <% if @edit.url != '' %>
          <% image_url = @edit.url %>
        <% else %>
          <% image_url = '/assets/default.jpg' %>
        <% end %>
        <span class="text-align:center;"><img src="<%= image_url %>" alt="" width="100%" height="562.5" style="border: solid 1px #000000;"/></span>
      </div>
    </div>

    <div class="row" style="padding-left: 113px;">
      <div>
        <h2 style="font-weight: bolder">
          <%= @edit.title %>
        </h2>
      </div>

      <div>
        <h3>
          <%= @edit.category.name %> > #<%= @edit.trend.name %>
        </h3>
      </div>
      
      <div style="padding-top: 2px;">
        <h4><%= @edit.date %></h4>
      </div>

      <h4 class="comment" style="background-color: #cccccc; padding: 5px;">
        <%= @edit.text %>
      </h4>

      <div>
      <% @twes.each do |twe| %>
        <div class="balloon5">
          <div class="faceicon text-center">
            <a href="https://twitter.com/<%= twe.twitter_datum.user_id %>" target="_blank">
              <img src=<%= twe.twitter_datum.user_icon_url %> class="img-circle">
              <%= twe.twitter_datum.user %>
            </a>
          </div>
            
          <a href="https://twitter.com/okkake_reach/status/<%= twe.twitter_datum.tweet_id %>" target="_blank">
            <div class="chatting">
              <div class="says">
                <p><%= twe.twitter_datum.tweet %></p>
                <% if twe.twitter_datum.image_url != nil  %>
                  <p style="text-align:center; padding-top: 10px;"><img src="<%= twe.twitter_datum.image_url %>" alt="" width="400" height="225" style="border: solid 1px #000000;" /></p>
                <% end %>
                <br>
                <p class="text-right"><%= twe.twitter_datum.tweet_time %></p>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row" style="padding-top: 30px;">
      <div class="col-md-4 text-center">
        <div class="line-it-button" data-lang="ja" data-type="share-d" data-url="https://media.line.me/ja/how_to_install" style="display: none;"></div>
      </div>
      
      <div class="col-md-4 text-center">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?original_referer=<%= url_for(only_path: false) %>&tw_p=<%= @edit.title %>&url=<%= url_for(only_path: false) %>"><i class="fa fa-twitter-square" style="font-size:40px"></i></a>
      </div>

      <div class="col-md-4 text-center">
        <div id="fb-root"></div>
        <div class="fb-share-button" data-href="<%= url_for(only_path: false) %>" data-layout="box_count" data-size="small" data-mobile-iframe="false">
          <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= url_for(only_path: false) %>&amp;src=sdkpreparse">シェア</a>
        </div>
      </div>
    </div>

    <p class="text-center" style="font-size: 40px; padding: 30px;">
      <% if current_user.authority %>
        <%= link_to 'Edit', edit_edit_path(@edit) %>
      <% end %>
    </p>
    
    
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>
</div>