<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <% count = 1 %>
    <% @user.user_categories.each do |user_category| %>
      <%= f.fields_for :user_categories, user_category do |uc| %>
        <%= count %>
        <%= uc.hidden_field :priority, :value => count %>
        <%= uc.collection_select :category_id, Category.all, :id, :name %>
        <br>
        <% count += 1%>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :layout %>
    <% count = 1 %>
    <% @user.user_layouts.each do |user_layout| %>
      <%= f.fields_for :user_layouts, user_layout do |ul| %>
      <%= ul.collection_radio_buttons(:layout_id, Layout.all.limit(3), :id, :layout) do |b| %>
<%= count %>
  <%= b.label {b.radio_button + b.text} %>
  <% count += 1%>
<% end %>
      <% end %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
