
<% check = 2 %>


<div class="container">
  <% if check == 0 then %>
  <div class="col-md-8">
    <div class="row">
      <div class = "col-md-12">
  <% else %>
  <div class="col-md-12">
  <% end %>
    <h1>興味のある記事1</h1>
    <% #ソートが無駄なので時間があったらcontrollerの処理する %>
    <%= @category.find_by(id: @user.user_categories.find_by(priority: 1).category_id).name %>
    <table class='scaffold_table'>
      <thead>
        <tr>
          <th>thumbnail</th>
          <th>User</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
      <% #ソートが無駄なので時間があったらcontrollerの処理する %>
      <% @edits.where(category_id: @user.user_categories.find_by(priority: 1).category_id).each do |edit| %>
        <tr>
          <% if edit.url != '' %>
            <% image_url = edit.url %>
          <% else %>
            <% image_url = '/assets/default.jpg' %>
          <% end %>
          <td style="text-align:center;"><img src="<%= image_url %>" alt="" width="100" height="100" style="border: solid 1px #000000;"/></td>
          <td><%= edit.User.name %></td>
          <td><%= link_to edit.title, edit %></td>
          <td><%= edit.date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% if check == 0 then %>
    </div>
    <div class="col-md-12">
  <% elsif check == 1 then %>
    </div>
    <div class="col-md-6">
  <% else %>
    </div>
    <div class="col-md-12">
  <% end %>
    <h1>興味のある記事2</h1>
    <% #ソートが無駄なので時間があったらcontrollerの処理する %>
    <%= @category.find_by(id: @user.user_categories.find_by(priority: 2).category_id).name %>
    <table class='scaffold_table'>
      <thead>
        <tr>
          <th>thumbnail</th>
          <th>User</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
      <% #ソートが無駄なので時間があったらcontrollerの処理する %>
      <% @edits.where(category_id: @user.user_categories.find_by(priority: 2).category_id).each do |edit| %>
        <tr>
          <% if edit.url != '' %>
            <% image_url = edit.url %>
          <% else %>
            <% image_url = '/assets/default.jpg' %>
          <% end %>
          <td style="text-align:center;"><img src="<%= image_url %>" alt="" width="100" height="100" style="border: solid 1px #000000;"/></td>
          <td><%= edit.User.name %></td>
          <td><%= link_to edit.title, edit %></td>
          <td><%= edit.date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if check == 0 then %>
        </div>
      </div>
    </div>
    <% elsif check == 1 then %>
      </div>
    <% else %>
      </div>
    <% end %>


  <% if check == 0 then %>
    <div class="col-md-4">
  <% elsif check == 1 then %>
    <div class="col-md-6">
  <% elsif check == 2 %>
    <div class="col-md-12">
  <% end %>
    <h1>興味のある記事3</h1>
    <% #ソートが無駄なので時間があったらcontrollerの処理する %>
    <%= @category.find_by(id: @user.user_categories.find_by(priority: 3).category_id).name %>
    <table class='scaffold_table'>
      <thead>
        <tr>
          <th>thumbnail</th>
          <th>User</th>
          <th>Title</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
      <% #ソートが無駄なので時間があったらcontrollerの処理する %>
      <% @edits.where(category_id: @user.user_categories.find_by(priority: 3).category_id).each do |edit| %>
        <tr>
          <% if edit.url != '' %>
            <% image_url = edit.url %>
          <% else %>
            <% image_url = '/assets/default.jpg' %>
          <% end %>
          <td style="text-align:center;"><img src="<%= image_url %>" alt="" width="100" height="100" style="border: solid 1px #000000;"/></td>
          <td><%= edit.User.name %></td>
          <td><%= link_to edit.title, edit %></td>
          <td><%= edit.date %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'カスタマイズ', edit_user_path(@user) %>
