<p id="notice"><%= notice %></p>

<h1>Twitter Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_data.each do |twitter_datum| %>
      <tr>
        <td><%= link_to 'Show', twitter_datum %></td>
        <td><%= link_to 'Edit', edit_twitter_datum_path(twitter_datum) %></td>
        <td><%= link_to 'Destroy', twitter_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter Datum', new_twitter_datum_path %>
