<%= stylesheet_link_tag 'scaffold' , :media => "all" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<table class='scaffold_table'>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>

    <% @edits.each do |edit| %>
      <tr>
        <td><%= edit.User.name %></td>
        <td><%= link_to edit.title, edit %></td>
        <td><%= edit.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

