<!DOCTYPE html>
<html>
  <head>
    <title>Beeinfo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.producion? %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= current_user.name %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% if current_user.authority %>
          <%= link_to '管理者ページへ', edits_path %>
        <% end %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
